<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center" id="texto"> Sejam bem bindes ao meu blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim iure, illo officiis, suscipit quia aut
                natus ducimus, asperiores harum inventore fugiat unde modi nisi. Corrupti eius quo animi aliquam ipsam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum repellendus id quidem minus aliquam,
                quisquam in non officiis consectetur reprehenderit tempora sit eveniet eligendi! Animi laboriosam
                laudantium odio inventore nesciunt!
            </p>
        </div>
    </div>
</div>
<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
    </div>
</div>